@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
body {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 200;
}
header {
  text-align: center;
}
.more-info {
  overflow-y: scroll;
  height: 25vh;
}
.whole-area ul li ul li {
  height: 2.5rem;
  display: block;
  margin: 0 auto;
  line-height: 2.5rem;
  width: 60%;
}
.whole-area ul {
  margin-left: -40px;
}
.whole-area {
  width: 100%;
  transition: all .35s ease;
}
ul li {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 2rem;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #212121;
  border-bottom: 3px solid transparent;
}
nav ul li a:hover{
  color: #585858;
  border-bottom: 3px solid #03A9F4;
  transition: all .5s ease;
}
.breadcrumb,.breadcrumb a {
  display: inline-block;
  margin: 0.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all .15s ease;
}
.breadcrumb a:hover{
  opacity: .5;
}
.breadcrumbs-nav {
  width: 100%;
  background-color: #039BE5;
}
.hidden {
    transform: scaleY(0);
}
.container-centered {
  width: 75%;
  display: block;
  margin: auto;
  position: relative;
}
.building-info {
  display: block;
  width: 60%;
  float: left;
}
.thumb-img{
  width: 40%;
}
.building-img {
  display: block;
  height: 25vh;
  z-index: 100;
}
.building-img img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.building section {
  position: relative;
  margin-top: 8.5rem;
  text-align: center;
  background-color: white;
  width: 100%;
  z-index: 101;
  -webkit-box-shadow: 0px -40px 20px 10px rgba(255,255,255,1);
  -moz-box-shadow: 0px -40px 20px 10px rgba(255,255,255,1);
  box-shadow: 0px -40px 20px 10px rgba(255,255,255,1);
}
.building {
  display: block;
  margin-top: 3.5rem;
}
.building a {
  font-size: 2rem;
}
.building a:hover {
  border-bottom: 3px solid #212121;
  opacity: .75;
  transition: all .25s ease-out;
}
.building h2 {
  text-align: center;
}
.rooms li {
  transition: all .15s ease;
}
.rooms li:hover {
  transform: scale(1.05);
  font-weight: bold;
  /*background-color: #bdc3c7;*/
}
.rooms li a {
  font-size: 1rem;
  display: inline-block;;
  margin-left: 10rem;
  color: #2980b9;
}
.rooms li a:hover {
  border-bottom: 3px solid #2980b9;
  transition: border .15s ease-in;
}
footer p {
  text-align: center;
}
td {
  height: 5rem;
}
td.reserved {
  background-color: orange;
}
.schedule {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.schedule tbody tr td:first-of-type {
  width: 7.5%;
}

.schedule tbody tr td:not(:first-of-type) {
  border: 1px solid #bbbbbb;
}

.active {
  font-weight: 900;
  border-bottom: 3px solid;
}
.tableOfTheDay {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.tableOfTheDay thead tr td {
  border-bottom: 2px solid #121212;
}
.ongoing {
  animation: ongoing 3s ease infinite alternate;
  font-weight: bold;
}
@-webkit-keyframes ongoing {
  from { color: #121212 }
  to { color: #03A9F4 }
}
@-o-keyframes ongoing {
  from { color: #121212 }
  to { color: #03A9F4 }
}
@-moz-keyframes ongoing {
  from { color: #121212 }
  to { color: #03A9F4 }
}
@keyframes ongoing {
  from { color: #121212 }
  to { color: #03A9F4 }
}
