@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
body {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 200;
}
header {
  text-align: center;
}
.more-info {
  overflow-y: scroll;
  height: 25vh;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 2rem;
}
.hidden {
    display: none;
}
.container-centered {
  width: 75%;
  display: block;
  margin: auto;
  position: relative;
}
.building-info {
  display: block;
  width: 60%;
  float: left;
}
.building img {
  width: 40%;
}
.building {
  display: block;
  margin-top: 3.5rem;
  height: 40vh;
}
footer p {
  text-align: center;
}
td {
  height: 5rem;
}
td.reserved {
  background-color: orange;
}
